<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dynamic_Programming_Again/src/Other/Count_Even_Length_Binary_Sequences_With_Sum_Of_First_And_Second_Half_Bits.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Other.Count_Even_Length_Binary_Sequences_With_Sum_Of_First_And_Second_Half_Bits"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dynamic_Programming_Again"/>
</launchConfiguration>
