<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Searching_Sorting_Problems/src/Count_Inversions_in_Array_to_Make_Sorted_Problem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Count_Inversions_in_Array_to_Make_Sorted_Problem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Searching_Sorting_Problems"/>
</launchConfiguration>
