<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary_Search_Tree/src/calculate/Count_Number_Of_Nodes_In_Binary_Search_Tree_That_Lie_In_A_Range.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="calculate.Count_Number_Of_Nodes_In_Binary_Search_Tree_That_Lie_In_A_Range"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary_Search_Tree"/>
</launchConfiguration>
