<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Strings/src/character_counting/Find_Kth_Character_Of_Decrypted_String.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="character_counting.Find_Kth_Character_Of_Decrypted_String"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Strings"/>
</launchConfiguration>
