<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Important_Java_Functions/src/strings/Given_A_Sequence_Of_Words_Print_All_Anagrams.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="strings.Given_A_Sequence_Of_Words_Print_All_Anagrams"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Important_Java_Functions"/>
</launchConfiguration>
