<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Graphs/src/search/Level_Of_Each_Node_In_A_Tree_From_Source_Node.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="search.Level_Of_Each_Node_In_A_Tree_From_Source_Node"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Graphs"/>
</launchConfiguration>
