<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dynamic_Programming_Again/src/Grids/Maximum_Sum_In_A_2_x_N_Grid_Such_That_No_Two_Elements_Are_Adjacent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Grids.Maximum_Sum_In_A_2_x_N_Grid_Such_That_No_Two_Elements_Are_Adjacent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dynamic_Programming_Again"/>
</launchConfiguration>
