<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary_Tree/src/properties/Maximum_Node_Horizontally_Of_Tree_Width.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="properties.Maximum_Node_Horizontally_Of_Tree_Width"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary_Tree"/>
</launchConfiguration>
