<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Important_Java_Functions/src/royal/Sort_Royal_Names.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="royal.Sort_Royal_Names"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Important_Java_Functions"/>
</launchConfiguration>
